<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="./assets/dev.svg" type="image/x-icon">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <title>JuhhSobrinho</title>
</head>

<body>
    <header id="guias">
        <div class="line" id="line-menu"></div>
        <a class="guia">
            <img id="intro-guias" class="icon-guias" src="./assets/Maskgroup.png" alt="guia-meuperfil" />
        </a>
    </header>
    <main>
        <nav class="header-parado">
            <ul class="header-parado-ul">
                <li><a class="link-parado" href="#intro">Intro</a></li>
                <li><a class="link-parado" href="#sobre">Sobre</a></li>
                <li><a class="link-parado" href="#contato">Contato</a></li>
            </ul>
        </nav>
        <section class="intro" id="intro">
            <section class="titulo-icon">
                <section class="titulo-midias">
                    <h1 class="hello-titulo" id="helloWorld">4F 6C C3 A1</h1>
                    <span class="descricao-titulo">Um Programador JR, construindo aplicações web e mobile</span>
                    <div class="midias">
                        <a href="https://github.com/JuhhSobrinho">
                            <img src="./assets/git.svg" class="icon-midias" alt="icon-link-do-github">
                        </a>
                        <a href="https://www.linkedin.com/in/juliano-sobrinho-jr-0a157a25a/">
                            <img src="./assets/linkelin.svg" class="icon-midias" alt="icon-link-do-linkedin">
                        </a>
                        <a href="https://www.instagram.com/juhh_sobrinho/">
                            <img src="./assets/insta.svg" class="icon-midias" alt="icon-link-do-instagram">
                        </a>
                    </div>
                </section>

                <section class="icon-descricao">
                    <img src="./assets/Maskgroup.png" class="icon-eu" alt="icon-art-do-meurosto">
                    <div class="descricao-cacador">
                        <img src="./assets/hunter.svg" class="cacador" alt="icon-de-cacador">
                        <span class="descricao">
                            Um caçador de bugs
                        </span>
                    </div>
                </section>
            </section>
            <section class="roll-mouse">
                <span class="mouse">é um mouse 👇</span>
                <div class="roll">
                    <div class="boulinha"></div>
                </div>
            </section>
        </section>

        <section class="sobre" id="sobre">
            <div class="line"></div>
            <h2 class="titulo-sobre">Sobre Mim</h2>
            <section class="sobre-habilidade">

                <div class="habilidades">
                    <span class="sobre-habilidade-titulo">Minhas Habilidades</span>
                    <div class="habilidades-card">
                        <p class="habilidades-dados">HTML CSS JavaScript SQL MySQL php Python C C# .NET React.js React Native API GitHub Git firebase Photoshop Figma</p>
                    </div>
                </div>

                <div class="sobre-quem-sou">
                    <span class="sobre-habilidade-titulo">Quem Sou ?</span>
                    <p class="quemsou-dados">
                        Olá! Eu sou Juliano, um entusiasta do café e Programador Júnior apaixonado por transformar
                        linhas de código em soluções incríveis. Ao longo da minha jornada profissional, tenho buscado
                        constantemente aprimorar minhas habilidades e criar experiências únicas no vasto universo da
                        programação.
                    </p>
                </div>


                <div class="habilidades">
                    <span class="sobre-habilidade-titulo">Meus Certificados</span>
                    <div class="habilidades-card" id="card-cert">
                        <div class="carrossel" id="carrossel">
                            <div class="slide" ><img class="certificado" src="./assets/certif/bradDesig.png" alt=""></div>
                            <div class="slide" ><img class="certificado" src="./assets/certif/coca.png" alt=""></div>
                            <div class="slide" ><img class="certificado" src="./assets/certif/estrDaPy.png" alt=""></div>
                            <div class="slide" ><img class="certificado" src="./assets/certif/figma.png" alt=""></div>
                            <div class="slide" ><img class="certificado" src="./assets/certif/introAnaPy.png" alt=""></div>
                            <div class="slide" ><img class="certificado" src="./assets/certif/introLingPy.png" alt=""></div>
                            <div class="slide" ><img class="certificado" src="./assets/certif/itenJs.png" alt=""></div>
                            <div class="slide" ><img class="certificado" src="./assets/certif/zeroJs.png" alt=""></div>
                            <div class="slide" ><img class="certificado" src="./assets/certif/dio.png" alt=""></div>
                            <div class="slide" ><img class="certificado" src="./assets/certif/decola-tech.png" alt=""></div>
                            
                        </div>
                    </div>                    
                </div>
            </section>
            <div class="line"></div>
        </section>
        <section class="contato" id="contato">
            <h2 class="titulo-sobre">Contato</h2>
            <form class="card-forme-contato" id="contact-form">
                <div class="input-text">
                    <input class="dados-text" placeholder="Seu Nome" type="text" name="user_name" id="nome" />
                    <input class="dados-text" placeholder="Seu Email" type="text" name="user_email" id="email" />
                    <textarea class="dados-text" placeholder="Sua Mensagem" name="message" id="msg"></textarea>
                </div>
                <input id="btnEnviar" class="btn-enviar" type="button" value="Enviar"  />
            </form>
        </section>
    </main>
    <script type="module" src="../controller/controller.js"></script>
</body>

</html>
