<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="./assets/project.svg" type="image/x-icon">

    <title>Projetos</title>
</head>

<body>
    <header id="guias">
        <div class="line" id="line-menu"></div>
        <a>
            <img class="icon-guias" src="./assets/Maskgroup.png" alt="guia-meuperfil" />
        </a>
    </header>
    
    <main>
        <div class="line"></div>

        <section class="img-ficha" id="img-ficha">

        </section>

        <div class="line"></div>
    </main>
    <script type="module" src="../controller/controller.js"></script>
</body>

</html>