<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="./assets/project.svg" type="image/x-icon">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

    <title>Projetos</title>
</head>

<body>
    <header id="home">
        <div class="line" id="line-menu"></div>
            <a class="guia" href="./index.html">
                <img id="intro-guias" class="icon-guias" src="./assets/Maskgroup.png" alt="guia-meuperfil" />
            </a>
        <nav id="guias">
        </nav>
    </header>

    <main id="main-project">

        <section class="img-ficha" id="img-ficha">

        </section>

        <div class="line"></div>
        <section class="contato" id="contato">
              
            <h2 class="titulo-sobre">Deixe seu feedback</h2>
            <form class="card-forme-contato" id="contact-form">
                <div class="input-text">
                    <input class="dados-text" placeholder="Seu Nome" type="text" name="user_name" id="nome" />
                    <input class="dados-text" placeholder="Seu Email" type="text" name="user_email" id="email" />
                    <textarea class="dados-text" placeholder="Sua Mensagem: alguma duvida ou o que achou do projeto"
                        name="message" id="msg"></textarea>
                </div>
                <input id="btnEnviar" class="btn-enviar" type="button" value="Enviar" />
            </form>
        </section>
    </main>
    <script type="module" src="../controller/controller.js"></script>
</body>

</html>